// Social section
.social-sec{
    padding: 4rem 0 1.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #00000042;
    @media (max-width:575px){
        flex-direction: column-reverse;
    }
    .social-sec__col{
       ul{
           padding-left: 0;
           text-align: right;
           @media (max-width:575px){
            text-align: center;
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
        }
           li{
               list-style: none;
               display: inline-block;
               padding: 16px;
               @media (max-width: 1024px) {
                padding: 16px 10px;
            }
           }
       }
        width: calc(100% / 2);
        @media (max-width:575px){
            width: 100%;
        }
    }
}

.footer__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    padding: 3rem 0;
    border-bottom: 1px solid #0000004D;
.footer__col{
    h3{
        font-size: 17px;
    }
    .footer__menu-subtitle{
        font-size: 11px;
        font-weight: 700;
        line-height: 22px;
        color: #767676;
        padding-top: 22.66px;

        
    }
    li{
        list-style: none;
        a{
            text-decoration: none;
            color: #000000;
            font-size: 13px;
            font-weight: 500;
            line-height: 22px;

        }

    }
  
}
@media (max-width:575px){
   display: none;
}
}
// Footer copyright
.footer-copyright{
    padding: 2rem 0;
 li{
     list-style: none;
     display: inline-block;
     &:first-child{
         a{
        padding-left: 0;
         }
        }
         &:last-child{
         a{
           border-right: 0;
          }
        }
    }
     a{
        padding: 0 13px;
        font-weight: 400;
        line-height: 26px;
        color: #000000;
        border-right: 1px solid #000;
     }
 }
 .footer-copyright__risk-warning{
        padding-top: 1rem;
 }

