body{
    margin: 0;
    font-family: "Gilroy";
}
.container{
    max-width:1157px;
    width: 100%;
    margin: 0 auto;
}
.m-0{
    margin: 0;
}
.p-0{
    padding: 0;
}
// Fonts
.f-20{
 font-size: 20px;
}
.f-15{
    font-size: 15px;
}
.f-40{
font-size: 40px;
}
.f-24{
    font-size: 24px;
    }
.fwb{
    font-weight: 700;
}
// Colors
.text-white{
    color: #ffffff;
}
.text-black{
    color: #000000;
}
// Buttons
.cta{
.cta__btn{
    display: inline-block;
    padding: 15px 22px;
    border: 1px solid #079C72;
    color: inherit;
    text-decoration: none;
    margin: 0.6rem 0;
    text-transform: uppercase;
    border-radius: 2px;
    font-weight: bold;
}
.cta__btn--primary{
    background-color:#079C72 ;
    border: 1px solid #079C72;
    color: #fff;
    margin-right: 1rem;
    transition: all 0.35s ease;
    &:hover{
        background-color:#ffffff ;
        border: 1px solid #079C72;
        color: #079C72;
        margin-right: 1rem;
        transition: all 0.35s ease;
    }
}
.cta__btn--secondary{
    background-color:transparent ;
    border: 1px solid #079C72;
    color: #079C72;
    transition: all 0.35s ease;
    &:hover{
        background-color:#079C72 ;
        border: 1px solid #079C72;
        color: #ffffff;
        margin-right: 1rem;
        transition: all 0.35s ease;
    }
}
a{
    @media (max-width:575px){
        width: 100%;
     } 
}
}