// Partials
@import "partials/header";
@import "partials/general";
@import "partials/hero";
@import "partials/footer";
@import "partials/responsive";
@import "partials/slider";

@import "./fonts.scss";

body{
    margin: 0;
    box-sizing: border-box;
}
// Header Styling
.main-header{
    display: flex;
    justify-content: space-between;
    background-color: #333;
}
// Fonts
@font-face {
    font-family: "Gilroy";
    src: url('../fonts/gilroy/gilroy_heavy-webfont.eot');
    src: url('../fonts/gilroy/gilroy_heavy-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gilroy/gilroy_heavy-webfont.woff2') format('woff2'),
        url('../fonts/gilroy/gilroy_heavy-webfont.woff') format('woff'),
        url('../fonts/gilroy/gilroy_heavy-webfont.ttf') format('truetype'),
        url('../fonts/gilroy/gilroy_heavy-webfont.svg#gilroyheavy') format('svg');
    font-weight: 950;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url('../fonts/gilroy/gilroy_black-webfont.eot');
    src: url('../fonts/gilroy/gilroy_black-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gilroy/gilroy_black-webfont.woff2') format('woff2'),
        url('../fonts/gilroy/gilroy_black-webfont.woff') format('woff'),
        url('../fonts/gilroy/gilroy_black-webfont.ttf') format('truetype'),
        url('../fonts/gilroy/gilroy_black-webfont.svg#gilroyblack') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url('../fonts/gilroy/gilroy_extrabold-webfont.eot');
    src: url('../fonts/gilroy/gilroy_extrabold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gilroy/gilroy_extrabold-webfont.woff2') format('woff2'),
        url('../fonts/gilroy/gilroy_extrabold-webfont.woff') format('woff'),
        url('../fonts/gilroy/gilroy_extrabold-webfont.ttf') format('truetype'),
        url('../fonts/gilroy/gilroy_extrabold-webfont.svg#gilroyextrabold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url('../fonts/gilroy/gilroy_bold-webfont.eot');
    src: url('../fonts/gilroy/gilroy_bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gilroy/gilroy_bold-webfont.woff2') format('woff2'),
        url('../fonts/gilroy/gilroy_bold-webfont.woff') format('woff'),
        url('../fonts/gilroy/gilroy_bold-webfont.ttf') format('truetype'),
        url('../fonts/gilroy/gilroy_bold-webfont.svg#gilroybold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url('../fonts/gilroy/gilroy_semibold-webfont.eot');
    src: url('../fonts/gilroy/gilroy_semibold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gilroy/gilroy_semibold-webfont.woff2') format('woff2'),
        url('../fonts/gilroy/gilroy_semibold-webfont.woff') format('woff'),
        url('../fonts/gilroy/gilroy_semibold-webfont.ttf') format('truetype'),
        url('../fonts/gilroy/gilroy_semibold-webfont.svg#gilroysemibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url('../fonts/gilroy/gilroy_medium-webfont.eot');
    src: url('../fonts/gilroy/gilroy_medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gilroy/gilroy_medium-webfont.woff2') format('woff2'),
        url('../fonts/gilroy/gilroy_medium-webfont.woff') format('woff'),
        url('../fonts/gilroy/gilroy_medium-webfont.ttf') format('truetype'),
        url('../fonts/gilroy/gilroy_medium-webfont.svg#gilroymedium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url('../fonts/gilroy/gilroy_regular-webfont.eot');
    src: url('../fonts/gilroy/gilroy_regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gilroy/gilroy_regular-webfont.woff2') format('woff2'),
        url('../fonts/gilroy/gilroy_regular-webfont.woff') format('woff'),
        url('../fonts/gilroy/gilroy_regular-webfont.ttf') format('truetype'),
        url('../fonts/gilroy/gilroy_regular-webfont.svg#gilroyregular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url('../fonts/gilroy/gilroy_light-webfont.eot');
    src: url('../fonts/gilroy/gilroy_light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gilroy/gilroy_light-webfont.woff2') format('woff2'),
        url('../fonts/gilroy/gilroy_light-webfont.woff') format('woff'),
        url('../fonts/gilroy/gilroy_light-webfont.ttf') format('truetype'),
        url('../fonts/gilroy/gilroy_light-webfont.svg#gilroylight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url('../fonts/gilroy/gilroy_ultralight-webfont.eot');
    src: url('../fonts/gilroy/gilroy_ultralight-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gilroy/gilroy_ultralight-webfont.woff2') format('woff2'),
        url('../fonts/gilroy/gilroy_ultralight-webfont.woff') format('woff'),
        url('../fonts/gilroy/gilroy_ultralight-webfont.ttf') format('truetype'),
        url('../fonts/gilroy/gilroy_ultralight-webfont.svg#gilroyultralight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}


* {
    box-sizing: border-box;
    touch-action: auto;

}

// Main Styling start
// General section styling
section {
    padding: 4rem 0;

    @media (max-width:575px) {
        padding: 2rem 1rem;
    }
}

// section Three column
.section-three-col {
    background-color: #FAFAFA;

    .section-three-col__title {
        font-size: 40px;
        font-weight: 400;
    }

    .section-three-col__description {
        font-size: 20px;
        font-weight: 400;
    }

    // row
    .section-three-col__row {
        padding: 2rem 0;
        display: inline-flex;
        flex-wrap: wrap;

        .section-three-col__column {
            background-color: #fff;
            border: 1px solid #E5E5E5;
            border-radius: 7px;
            text-align: left;
            padding: 2.5rem;
            margin: 5px;
            text-decoration: none;
            color: #000000;
            width: calc(100% / 3.2);
            transition: all 0.35s ease;
            &:hover{
                background-color: #000000;
                color: #fff;
                transition: all 0.35s ease;
            }
        }
    }

}

// Screen slider
.screen-slider {
    text-align: center;

    @media (max-width:575px) {
        max-width: 100%;
        padding: 0;
    }

    .screen-slider__content {
        max-width: 70%;
        margin: 0 auto;

        h2 {
            font-size: 65px;
            font-weight: 700;
            margin: 0;

            @media (max-width:1024px) {
                font-size: 38px;
                line-height: 47.8px;
            }

            @media (max-width:575px) {
                font-size: 24px;
                line-height: 30.8px;
            }
        }
    }

    .screen-slider__images {
        position: relative;
    }

    .screen-slider__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        text-align: left;
        padding-top: 3rem;

        .screen-slider__col {
            box-shadow: 0 0 27px 39px #00000005;
            border-radius: 5px;
            padding: 2rem;
            background-color: #fff;
            transition: all 0.5s ease;

            &:hover {
                background-color: #000000;
                color: #fff;
                transition: all 0.5s ease;
                cursor: pointer;

                @media (max-width:1024px) {
                    background-color: #fff;
                    color: black;


                }
            }

            @media (max-width:1024px) {
                box-shadow: none;
                text-align: center;

            }

            @media (max-width:575px) {
                padding: 1rem 0;

            }
        }

        h3 {
            color: #079C72;
            margin: 0;
            font-size: 26px;
            font-weight: 600;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;

            @media (max-width:1024px) {
                max-width: 70%;
                width: 100%;
                margin: 25px auto;
            }

            @media (max-width:575px) {
                max-width: 90%;
                width: 100%;
                margin: 5px auto;
            }
        }

        @media (max-width:1024px) {
            grid-template-columns: 1fr;
        }

    }

    .computer {
        position: relative;
        top: 50%;
        width: 100%;
        height: 100vh;
        opacity: 1;
        z-index: 0;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;

        @media (max-width:1024px) {
            display: none;
        }
    }

    .computer__inner {
        position: absolute;
        top: 31%;
        left: 49.5%;
        width: 60%;
        padding-top: 38%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-size: cover;
        z-index: 15;
        z-index: 1;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;

        @media (max-width:1024px) {
            position: unset;
            display: block !important;
            width: 100%;
            padding-top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(0%, 0%);
            margin-bottom: 3rem;
        }

    }

    .computer__inner[data-id="screen1"] {
        background-image: url(../images/screen_1.jpg);
    }

    .computer__inner[data-id="screen2"] {
        background-image: url(../images/screen_2.jpg);
    }

    .computer__inner[data-id="screen3"] {
        background-image: url(../images/screen_3.jpg);
    }

    .computer img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: auto;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 1;

        @media (max-width:1024px) {
            display: none;
        }
    }

    .computer__inner {
        display: none;
    }

    .computer__inner[data-id='screen1'] {
        display: block !important;
    }

    .computer__inner.showImg {
        display: block;
    }
}

// Two col section
.two-col-sec {
    position: relative;
}

.two-col-sec__container {
    display: flex;
    align-items: center;

    li {
        position: relative;
        list-style: none;

        &:after {
            content: '';
            position: absolute;
            background-image: url(../images/list_caret.png);
            left: -30px;
            top: 5px;
            background-repeat: no-repeat;
            padding: 6px;
        }

        p {
            font-weight: 400;
        }

    }

    .two-col-sec__right {
        padding-left: 50%;

        img {
            position: absolute;
            right: 0;
            top: 4rem;
            bottom: 0;
        }
    }
}

// call-to-action-sec
.call-to-action-sec {
    background-color: #000000;

    .call-to-action-sec__container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width:1024px) {
            flex-direction: column;
        }
    }

    .call-to-action-sec__col {
        h3 {
            line-height: 50px;
            font-size: 37px;
        }

        p {
            margin: 0;
        }

        .cta {
            @media (max-width:1024px) {
                margin: 25px 0;
            }
        }

        width: calc(100% / 2);

        @media (max-width:1024px) {
            width: 100%;
        }
    }
}